# Import  Library

In [1]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import Select
import time 
import pandas as pd 
from itertools import permutations

# Get Country Code

In [2]:
browser = webdriver.Firefox()
browser.get('https://www.trademap.org/Bilateral_TS.aspx?nvpm=1|360||156||TOTAL|||2|1|1|1|2|1|1|1||1')
html_source = browser.page_source
browser.quit()

soup = BeautifulSoup(html_source,'html.parser')
#class "postText" is not defined in the source code
comments = soup.findAll('option')

kode = []
dct= {}
for option in soup.find_all('option'):
    dct[option.text] = option['value']
    kode.append(option['value'])
kode = kode[113:366]

kode_negara = {}
for  key, value in dct.items():
    if value in  kode:
        kode_negara[key] = value
        
kombinasi_negara =  (list(permutations(kode, 2)))

In [3]:
kode_negara

{'Afghanistan': '004',
 'Africa not elsewhere specified': '577',
 'Albania': '008',
 'Algeria': '012',
 'America not elsewhere specified': '636',
 'American Samoa': '016',
 'Andorra': '020',
 'Angola': '024',
 'Anguilla': '660',
 'Antigua and Barbuda': '028',
 'Area Nes': '899',
 'Argentina': '032',
 'Armenia': '051',
 'Aruba': '533',
 'Asia not elsewhere specified': '946',
 'Australia': '036',
 'Austria': '040',
 'Azerbaijan': '031',
 'Bahamas': '044',
 'Bahrain': '048',
 'Bangladesh': '050',
 'Barbados': '052',
 'Belarus': '112',
 'Belgium': '056',
 'Belize': '084',
 'Benin': '204',
 'Bermuda': '060',
 'Bhutan': '064',
 'Bolivia, Plurinational State of': '068',
 'Bonaire, Sint Eustatius and Saba': '535',
 'Bosnia and Herzegovina': '070',
 'Botswana': '072',
 'Bouvet Island': '074',
 'Brazil': '076',
 'British Antarctic Territory': '080',
 'British Indian Ocean Territory': '086',
 'British Virgin Islands': '092',
 'Brunei Darussalam': '096',
 'Bulgaria': '100',
 'Burkina Faso': '854',
 'Burundi': '108',
 'Cabo Verde': '132',
 'Cambodia': '116',
 'Cameroon': '120',
 'Canada': '124',
 'Caribbean Nes': '129',
 'Cayman Islands': '136',
 'Centr.Amer.Com.Market (CACM) Nes': '471',
 'Central African Republic': '140',
 'Chad': '148',
 'Chile': '152',
 'China': '156',
 'Christmas Island': '162',
 'Cocos (Keeling) Islands': '166',
 'Colombia': '170',
 'Comoros': '174',
 'Congo': '178',
 'Congo, Democratic Republic of the': '180',
 'Cook Islands': '184',
 'Costa Rica': '188',
 "Côte d'Ivoire": '384',
 'Croatia': '191',
 'Cuba': '192',
 'Curaçao': '531',
 'Cyprus': '196',
 'Czech Republic': '203',
 'Denmark': '208',
 'Djibouti': '262',
 'Dominica': '212',
 'Dominican Republic': '214',
 'East Europe not elsewhere specified': '221',
 'Ecuador': '218',
 'Egypt': '818',
 'El Salvador': '222',
 'Equatorial Guinea': '226',
 'Eritrea': '232',
 'Estonia': '233',
 'Eswatini': '748',
 'Ethiopia': '231',
 'Europe EFTA not elsewhere specified': '697',
 'Europe Othr. Nes': '568',
 'European Union Nes': '492',
 'Falkland Islands (Malvinas)': '238',
 'Faroe Islands': '234',
 'Fiji': '242',
 'Finland': '246',
 'France': '251',
 'Free Zones': '838',
 'French Polynesia': '258',
 'French Southern and Antarctic Territories': '260',
 'Gabon': '266',
 'Gambia': '270',
 'Georgia': '268',
 'Germany': '276',
 'Ghana': '288',
 'Gibraltar': '292',
 'Greece': '300',
 'Greenland': '304',
 'Grenada': '308',
 'Guam': '316',
 'Guatemala': '320',
 'Guinea': '324',
 'Guinea-Bissau': '624',
 'Guyana': '328',
 'Haiti': '332',
 'Honduras': '340',
 'Hong Kong, China': '344',
 'Hungary': '348',
 'Iceland': '352',
 'India': '699',
 'Indonesia': '360',
 'Iran, Islamic Republic of': '364',
 'Iraq': '368',
 'Ireland': '372',
 'Israel': '376',
 'Italy': '381',
 'Jamaica': '388',
 'Japan': '392',
 'Jordan': '400',
 'Kazakhstan': '398',
 'Kenya': '404',
 'Kiribati': '296',
 "Korea, Democratic People's Republic of": '408',
 'Korea, Republic of': '410',
 'Kuwait': '414',
 'Kyrgyzstan': '417',
 'LAIA not elsewhere specified': '473',
 "Lao People's Democratic Republic": '418',
 'Latvia': '428',
 'Lebanon': '422',
 'Lesotho': '426',
 'Liberia': '430',
 'Libya, State of': '434',
 'Lithuania': '440',
 'Luxembourg': '442',
 'Macao, China': '446',
 'Macedonia, North': '807',
 'Madagascar': '450',
 'Malawi': '454',
 'Malaysia': '458',
 'Maldives': '462',
 'Mali': '466',
 'Malta': '470',
 'Marshall Islands': '584',
 'Mauritania': '478',
 'Mauritius': '480',
 'Mayotte': '175',
 'Mexico': '484',
 'Micronesia, Federated States of': '583',
 'Moldova, Republic of': '498',
 'Mongolia': '496',
 'Montenegro': '499',
 'Montserrat': '500',
 'Morocco': '504',
 'Mozambique': '508',
 'Myanmar': '104',
 'Namibia': '516',
 'Nauru': '520',
 'Nepal': '524',
 'Netherlands': '528',
 'Netherlands Antilles': '530',
 'Neutral Zone': '536',
 'New Caledonia': '540',
 'New Zealand': '554',
 'Nicaragua': '558',
 'Niger': '562',
 'Nigeria': '566',
 'Niue': '570',
 'Norfolk Island': '574',
 'North Africa not elsewhere specified': '290',
 'North America and Central America, nes': '637',
 'Northern Mariana Islands': '580',
 'Norway': '579',
 'Oceania Nes': '527',
 'Oman': '512',
 'Pakistan': '586',
 'Palau': '585',
 'Palestine, State of': '275',
 'Panama': '591',
 'Papua New Guinea': '598',
 'Paraguay': '600',
 'Peru': '604',
 'Philippines': '608',
 'Pitcairn': '612',
 'Poland': '616',
 'Portugal': '620',
 'Qatar': '634',
 'Romania': '642',
 'Russian Federation': '643',
 'Rwanda': '646',
 'Saint Helena': '654',
 'Saint Kitts and Nevis': '659',
 'Saint Lucia': '662',
 'Saint Vincent and the Grenadines': '670',
 'Samoa': '882',
 'Sao Tome and Principe': '678',
 'Saudi Arabia': '682',
 'Senegal': '686',
 'Serbia': '688',
 'Serbia and Montenegro': '891',
 'Seychelles': '690',
 'Ship stores and bunkers': '837',
 'Sierra Leone': '694',
 'Singapore': '702',
 'Sint Maarten (Dutch part)': '534',
 'Slovakia': '703',
 'Slovenia': '705',
 'Solomon Islands': '090',
 'Somalia': '706',
 'South Africa': '710',
 'South Sudan': '728',
 'Spain': '724',
 'Special categories': '839',
 'Sri Lanka': '144',
 'St. Pierre and Miquelon': '666',
 'Sudan': '729',
 'Sudan (before 2012)': '736',
 'Suriname': '740',
 'Sweden': '752',
 'Switzerland': '757',
 'Syrian Arab Republic': '760',
 'Taipei, Chinese': '490',
 'Tajikistan': '762',
 'Tanzania, United Republic of': '834',
 'Territory not allocated': '999',
 'Thailand': '764',
 'Timor-Leste': '626',
 'Togo': '768',
 'Tokelau': '772',
 'Tonga': '776',
 'Trinidad and Tobago': '780',
 'Tunisia': '788',
 'Turkey': '792',
 'Turkmenistan': '795',
 'Turks and Caicos Islands': '796',
 'Tuvalu': '798',
 'Uganda': '800',
 'Ukraine': '804',
 'United Arab Emirates': '784',
 'United Kingdom': '826',
 'United States Minor Outlying Islands': '849',
 'United States of America': '842',
 'Uruguay': '858',
 'Uzbekistan': '860',
 'Vanuatu': '548',
 'Venezuela, Bolivarian Republic of': '862',
 'Viet Nam': '704',
 'Wallis and Futuna Islands': '876',
 'West Asia not elsewhere specified': '879',
 'Western Sahara': '732',
 'Yemen': '887',
 'Zambia': '894',
 'Zimbabwe': '716',
 '100 per page': '100',
 '300 per page': '300'}

# Get HTML  Importer  Data

In [6]:
def extract_import(negara, partner):

    browser = webdriver.Firefox()
    browser.get(f"https://www.trademap.org/Bilateral_TS.aspx?nvpm=1|{negara}||{partner}||TOTAL|||2|1|1|1|2|1|1|1|1|1")
    time.sleep(3)

    select = Select(browser.find_element_by_id('ctl00_PageContent_GridViewPanelControl_DropDownList_NumTimePeriod'))
    select.select_by_value('5')

    time.sleep(3)
    select = Select(browser.find_element_by_id('ctl00_PageContent_GridViewPanelControl_DropDownList_PageSize'))
    select.select_by_value('300')

    time.sleep(7)
    html_source = browser.page_source

    browser.quit()

    soup = BeautifulSoup(html_source,'html.parser')

    #class "postText" is not defined in the source code
    data_import = soup.findAll('td',{'class':['tabContent']})

    return data_import

# Extract Import Data

In [9]:
def data_import_extract(data_import):
    
    web = []
    for item in data_import:
        tdTags = item.find_all("tr")
    for item in tdTags:
        asi = item.find_all("td")
        for asii in asi :
                #print(no , asii.text)
                #product_code.append(asii.text.strip())
            web.append(asii.text.strip())
    web = web[24:]
    
    return web

In [10]:
def insert_into_list(web):
    m = len(web)
    n =20

    product_code =[]
    product_label = []
    value_2016 =[]
    value_2017 =[]
    value_2018 =[]
    value_2019=[]
    value_2020=[]

    for i in range (0, m, n ):
        #print(web[i])
        product_code.append(web[i])
        product_label.append(web[i+1])
        value_2016.append(web[i+2])
        value_2017.append(web[i+3])
        value_2018.append(web[i+4])
        value_2019.append(web[i+5])
        value_2020.append(web[i+6])
    
    # make dataframe
    kolom = ['product_code', 'product_label','2016','2017','2018','2019','2020']
    df = pd.DataFrame(columns= kolom)
    df['product_code'] = product_code
    df['product_label'] = product_label
    df['2016'] = value_2016
    df['2017'] = value_2017
    df['2018'] = value_2018
    df['2019'] = value_2019
    df['2020'] = value_2020
    return df

In [34]:
def get_key(val):
    for key, value in kode_negara.items():
         if val == value:
            return key

In [ ]:
kolom = ['product_code', 'product_label','2016','2017','2018','2019','2020']
data_importir = pd.DataFrame(columns= kolom)

In [50]:
no = 1
for kombinasi in kombinasi_negara:
    negara = kombinasi[0]
    partner = kombinasi[1]
    nama_negara = get_key(negara)
    nama_partner = get_key(partner)
    data_import = extract_import(negara=negara, partner= partner)
    web = data_import_extract(data_import)
    df = insert_into_list(web)
    df['importer'] = nama_negara  
    df['exporter'] = nama_partner
    data_importir = pd.concat([data_importir, df], ignore_index= True)
    
    
# export to excel
data_importir.to_excel('output.xlsx')
#export to csv
data_importir.to_csv('output.csv')

In [56]:
data_importir

,product_code,product_label,2016,2017,2018,2019,2020,importer,exporter
0,01,Live animals,0,0,0,0,,Afghanistan,Africa not elsewhere specified
1,02,Meat and edible meat offal,0,0,0,0,,Afghanistan,Africa not elsewhere specified
2,03,"Fish and crustaceans, molluscs and other aquat...",0,0,0,0,,Afghanistan,Africa not elsewhere specified
3,04,Dairy produce; birds' eggs; natural honey; edi...,0,0,0,0,,Afghanistan,Africa not elsewhere specified
4,05,"Products of animal origin, not elsewhere speci...",0,0,0,0,,Afghanistan,Africa not elsewhere specified
...,...,...,...,...,...,...,...,...,...
286,94,"Furniture; bedding, mattresses, mattress suppo...",0,0,0,0,,Afghanistan,Albania
287,95,"Toys, games and sports requisites; parts and a...",0,0,0,0,,Afghanistan,Albania
288,96,Miscellaneous manufactured articles,0,0,0,0,,Afghanistan,Albania
289,97,"Works of art, collectors' pieces and antiques",0,0,0,0,,Afghanistan,Albania
290,99,Commodities not elsewhere specified,0,0,0,0,,Afghanistan,Albania